.table {
  display: grid;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 1100px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-row-gap: 60px;
  justify-content: space-between;
}
