.section-title_theme_dark {
  width: 60%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 90px;
  line-height: 1.5;
  font-size: 60px;
  font-weight: 700;
  color:white;
  z-index: 3;
}
