.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  margin: 0;
  width: 183px;
  height: 32px;
}

.logo__place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 6;
}

.header__title {
  margin: 0;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  width: 730px;
  margin-left: 64px;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  z-index: 6;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.two-columns {
  margin: 0;
  padding: 0;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.two-columns__brief {
  display: flex;
  margin: 0;
  padding: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: 0;
  padding: 0;

}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:nth-of-type(1n) {
  margin: 0;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 100px;
  line-height: 1.5;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: grid;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  width: 1100px;
  grid-template-columns: 250px 250px 250px 250px;
  grid-row-gap: 60px;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  flex-direction: column;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.feynman {
  display: flex;
  position: relative;
  min-height: 890px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2f2f2;
  z-index: 0;
}

.feyman__illustration {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 867px;
  height: 637px;
  z-index: 2;
}

.feynman__title {
  padding: 0;
  margin: 0;
  margin-top: 100px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  z-index: 3;
}

.feynman__subtitle {
  padding: 0;
  margin: 0;
  margin-top: 70px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 3;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background-image: url(".././images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: -210px;
  z-index: -1;
}


.section-title_theme_dark {
  width: 60%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 90px;
  line-height: 1.5;
  font-size: 60px;
  font-weight: 600;
  color:white;
  z-index: 3;
}

.section-subtitle_theme_dark {
  width: 60%;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color:white;
  z-index: 3;
}

.table_theme_dark {
  display: grid;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 90px;
  width: 1110px;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-row-gap: 80px;
  justify-content: space-between;
  border-color: white;
  z-index: 3;
}

.table__heading_theme_dark {
  font-size: 24px;
  margin: 0;
  line-height: 1.15;
  font-weight: 600;
  border-color: white;
}

.table__cell_theme_dark {
  display: flex;
  flex-direction: column;
  width: 200px;
  color: white;
  margin: 0;
  margin-right: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
  color:white;
}

.footer {
  min-height: 350px;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  justify-content: center;
}

.footer__columns {
  display: flex;
  width: 90%;
  min-height: 250px;
  margin-top: 60px;
  margin-bottom: 40px;
  flex-direction: row;
  justify-content: space-between;
}

.logo_place_footer {
  margin: 0;
  width: 183px;
  height: 35px;
  background-image: url("../images/logo_place_footer.svg");
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  align-self: baseline;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: white;
}

.column__content_info {

}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
  color: white;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}

.footer__column_content_social {
  display: flex;
  flex-direction: column;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

